# Node modules and build files
node_modules/
/frontend/build/
/frontend/node_modules/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Python virtual environment and cache
/backend/venv/
/backend/__pycache__/
/backend/*.py[cod]
/backend/*$py.class
/backend/.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
